<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'post' || @model == 'tag' %>
	<h3>Posts search for "<%= @content %>"</h3>
  <%= render 'public/posts/index', posts: @records %>
<% end %>





<!--<h2>Results index</h2>-->

<!--<table class="table table-hover table-inverse">-->
  <!--検索対象モデルがUserの時 -->
<!--  <%# if @range == "User" %>-->
<!--    <tbody>-->
<!--      <%# @users.each do |user| %>-->
<!--        <tr>-->
<!--          <td><%#= user.last_name %> <%#= user.first_name %></td>-->
<!--        </tr>-->
<!--      <%# end %>-->
<!--    </tbody>-->
<!--  <%# else %>-->
    <!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
<!--    <tbody>-->
<!--      <%# @posts.each do |post| %>-->
<!--        <tr>-->
<!--          <td><%#= post.title %></td>-->
<!--          <td><%#= post.text %></td>-->
<!--        </tr>-->
<!--      <%# end %>-->
<!--    </tbody>-->
<!--  <%# end %>-->
<!--</table>-->