

  <div class='container px-5 px-sm-0'>
    <div class='row'>
      
      
        <div class='col-md-3'>  
          <h3>投稿一覧</h3>
          <%= link_to "新しい順", root_path(sort: 'created_at DESC') %>
            <%= render 'public/posts/post_index' %>
          
        </div>  
        <div class='col-md-8'>
          <%= render 'public/posts/map' %>
        </div> 
        
     
  </div> 
</div>  
